@media only screen and (min-width: 768px) {
    .gallery .col-md-1,.gallery .col-md-4
{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.gallery .col-md-3 img{
    margin-bottom: 19px;
}

.lokacije{
    background: url('assets/icons/lokacije-bg.svg');
    background-position: 0% 115%;
}

.gallery-bg{
    background: url('assets/icons/lokacije-bg.svg');
    background-position: 0% 200%;
}
}


  @media only screen and (max-width: 1024px) {
    .uskoro .second-img{
        margin-top: 100%;
    }
  }


  @media only screen and (max-width: 991px) {

    .navbar{
        flex-direction: row-reverse;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .navbar-light .navbar-brand {
        margin: 0 auto;
   display: table;
    }
    .navbar-light .navbar-toggler{
        border: none;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .bg-container::before{
        height:250px;
        width: auto;
        left: 20px;
        right: 20px;
    }
    .bg-container .mobile-container{
        min-height:400px;
    }
    .uskoro .left-image, .uskoro .right-image{
        display: none;
    }
    .uskoro h2{
        font-size: 30px;
        text-align: center;
        margin: 0 40px;
    }

  .uskoro img, footer img{
      display: none;
  }

  footer .footer-info img{
      display: block;
  }

  .lokacije-box iframe{
      height: 250px;
  }

  .pre-footer .box1{
      flex-wrap: wrap;
  }

  .pre-footer .box1 div{
    margin-bottom: 12px;
}

  }