@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ffebf2!important;
    font-family: 'Secular One', sans-serif;
}

.navbar-light .navbar-nav .nav-link{
    color: black!important;
}

nav .lang-switcher .lang-active{
    color: #f650a0;
}

nav .cart span{
    color: #f650a0;
}

.navbar-expand-lg .navbar-nav{
    margin: 0 auto;
}

nav .lang-switcher{
    margin-right: 20px;
}



/*LOKACIJE*/

.lokacije{
    background: url('assets/icons/lokacije-bg.svg');
    background-position: center;
}

.lokacije h1{
    margin-top: 80px;
    font-family: 'Secular One', sans-serif;
    font-size: 55px;
    letter-spacing: 0.18px;
}

.lokacije p{
    font-family: 'Varela Round', sans-serif;
    color:#333333;
    line-height: 20px;
    letter-spacing: 0.05px;
    margin-bottom: 40px;
}

.breadcrumbs .breadcrumbs-active{
    color: #999999;
}

.breadcrumbs span{
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
}

.lokacije-box{
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 1px 9px 0 rgba(0, 35, 64, 0.2);
    
}

.image-box img{
    width: 100%;
}

.lokacije-box .info-box{
    padding: 38px 42px;
}

.lokacije-box .info-box .info-heading{
    font-size: 22px;
    font-family: 'Secular One', sans-serif;
    border-bottom: solid 1.2px #e7e7e7;
    padding-bottom: 8px;
}

.lokacije-box .contact-box{
    padding-top: 16px;
}

.lokacije-box .contact-box p{
    font-size: 14px;
    font-family: 'Secular One', sans-serif;
}

.lokacije-box .contact-box span{
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
   
}

.lokacije-box .contact-box .contact-border{
    border-bottom: 1px solid black;
}

.tabs-group{
    display: flex;
    flex-wrap: wrap;
}


.tabs-group .tab{
    font-size: 12.9px;
    font-family: 'Secular One', sans-serif;
    padding: 3px 8px 1px 7px;
    margin-right: 9px;
    margin-bottom: 9px;
}


.color-tab1{
    background-color:#ffebf2;
}
.color-tab2{
    background-color:#a3e8d6;
}
.color-tab3{
    background-color:#fcfa96;
}

.color-tab4{
    background-color:#e0c5ec;
}


.box{
    text-align: right;
    position: relative;
    margin-top: 23px;
    margin-bottom: 30px;
}

.box::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 13px;
    border-top: 1px dashed #ddd;
}

.box .text{
    font-size: 11px!important;
    line-height: 1.64;
    background-color: #fff;
    color: #999;
    display: inline-block;
    z-index: 9;
    padding-left: 2px;
    position: relative;
}


.uskoro{
    background: url('assets/images/uskoro3.svg');
    margin-top: 100px;
    margin-bottom: 100px;
    background-repeat: no-repeat;
}

.uskoro .second-img{
    margin-top: 150px;
}


.uskoro h2{
    font-size: 45px;
    color: white;
}

.gallery{
    margin-bottom: 100px;
}

.gallery h2{
    text-align: center;
    font-size: 35px;
    font-family: 'Secular One', sans-serif;
}
.gallery p{
    text-align: center;
    color: #666666;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 134px;
}

.gallery p a{
    color: #f650a0;
}
.gallery img{
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
}


.gallery .col-md-1,.gallery .col-md-4
{
    padding-left: 0px!important;
    padding-right: 0px!important;
}


.pre-footer{
    margin-bottom: 100px;
}

.pre-footer h5{
    font-family: 'Secular One', sans-serif;
    font-size: 18px;
}

.pre-footer .image-box{
    display: flex;
    margin-top: 24px;
}

.pre-footer .image-box img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.pre-footer .box1{
    display: flex;
    margin-top: 45px;
}

.pre-footer .box1 div{
    height: 41px;
    background-color: #d8d8d8;
    margin-right: 12px;
}


.pre-footer .width-1{
    width: 114px;
}
.pre-footer .width-2{
    width: 81px;
}
.pre-footer .width-3{
    width: 109px;
}
.pre-footer .width-4{
    width: 104px;
}


.pre-footer .width-r1{
    width: 121px;
}
.pre-footer .width-r2{
    width: 85px;
}
.pre-footer .width-r3{
    width: 64px;
}

.pre-footer p{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}

.pre-footer button{
    background-color: #f454a0;
    padding: 5px 21px 5px 21px;
  border-radius: 1.9px;
  height: 30px;
  color: white;
  font-size: 14px;
  font-family: 'Secular One', sans-serif;
  border: none;
}

.pre-footer .ketering h5{
    margin-bottom: 4px;
}

.pre-footer .ketering p{
    margin-bottom: 12px;
}